// COLORS
$color-primary-dark: #28b485;
$color-primary-medium: #55c57a;
$color-primary-light: #7ed56f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643ff;

$color-white: #fff;
$text-color-gray: #777;
$text-color-gray-2: #999;

$bg-color-light: #f7f7f7;

//GRID

$vertical-gap: 5rem;
$horizontal-gap: 4rem;

// FONT

$primary-fs: 1rem;

// BOX SHADOW

$btn-boxshadow-value: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
