*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  padding: 1.25rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: #777;
  box-sizing: border-box; }

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  80% {
    opacity: 1;
    transform: translateX(0.5rem); }
  100% {
    transform: translateX(0); } }

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(3.125rem); }
  80% {
    opacity: 1;
    transform: translateX(-0.5rem); }
  100% {
    transform: translateX(0); } }

@keyframes bottom-to-top {
  0% {
    transform: translateY(200%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 3.75rem;
    letter-spacing: 2.1875rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    animation: left-to-right 0.65s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.25rem;
    letter-spacing: 1rem;
    font-weight: 300;
    margin-bottom: 4rem;
    animation: right-to-left 0.65s ease-out; }

.heading-secondary {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg);
    text-shadow: 0.3rem 0.6rem 0.75rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }

.paragraph {
  font-size: 0.95rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 4.5rem;
  cursor: pointer;
  padding: 1.25rem 2.5rem;
  font-weight: 400;
  outline: none;
  transition: all 0.2s;
  position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2); }
    .btn:hover::before {
      transform: scale(1.3);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.625rem rgba(0, 0, 0, 0.2); }
  .btn::before {
    content: "";
    display: inline-block;
    border-radius: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.2s; }
  .btn--animated {
    animation: bottom-to-top 1s ease-out 0.5s;
    animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::before {
    background-color: #fff; }

.navigation-link {
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 7.5px 5px;
  background-color: #fff;
  color: #28b485;
  border-bottom: 1px solid #28b485;
  cursor: pointer;
  transition: all 0.2s; }
  .navigation-link:hover {
    color: #fff;
    background-color: #55c57a;
    transform: translateY(-5px);
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2); }
  .navigation-link:active {
    transform: translateY(-1px);
    box-shadow: 0 0.3rem 0.625rem rgba(0, 0, 0, 0.2); }

.image-composition {
  position: relative; }
  .image-composition__image {
    position: absolute;
    width: 50%;
    z-index: 1;
    transition: all 0.2s; }
    .image-composition__image:nth-child(1) {
      top: -2rem; }
    .image-composition__image:nth-child(2) {
      right: 0.5rem;
      top: 0.5rem; }
    .image-composition__image:nth-child(3) {
      left: 20%;
      top: 6rem; }
    .image-composition__image:hover {
      transform: scale(1.1);
      z-index: 2; }
  .image-composition:hover .image-composition__image:not(:hover) {
    transform: scale(0.95); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    left: 2.1875rem;
    top: 2.1875rem; }
  .header__logo {
    height: 2.1875rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase; }

.row {
  max-width: 72.5rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row .grid__colume {
    float: left; }
    .row .grid__colume:not(:last-child) {
      margin-right: 2rem; }
  .row .colume-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .colume-1-of-3 {
    width: calc((100% - 2 *2rem) / 3); }
  .row .colume-2-of-3 {
    width: calc(100% - (2rem + (100% - 2 * (2rem)) / 3)); }
  .row .colume-1-of-4 {
    width: calc((100% - 3 *2rem) / 4); }
  .row .colume-2-of-4 {
    width: calc(100% - ((2 * (100% - 3 *2rem) / 4) + (2 *2rem))); }
  .row .colume-3-of-4 {
    width: calc(100% - (((100% - 3 *2rem) / 4) + (2rem))); }

.about-section {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -16vh; }

.features-section {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  padding: 15rem 0;
  text-align: center; }
  .features-section__box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem; }
    .features-section__box span {
      font-size: 5rem; }
