.features-section__box {
    padding: 3rem 0;
    background-color: rgba($color-white, 0.8);
    border-radius: 5px;
    box-shadow: $btn-boxshadow-value;
    transition: all 0.3s;

    &--icon {
        font-size: 4.5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        color: transparent;
        -webkit-background-clip: text;
        margin-bottom: 2.5rem;
    }

    &:hover {
        transform: translateY(-1rem) scale(1.02);
        box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    }
}
