.menu {
    position: absolute;
    z-index: 1000;

    &__background {
        position: fixed;
        top: 3.75rem;
        right: 3.75rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        z-index: 2000;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(50);
    }

    &__checkbox--label {
        display: inline-block;
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        z-index: 3000;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background-color: $color-white;
        cursor: pointer;
        box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.1);
    }

    &__hamburger {
        position: relative;
        transform: translate(1.25rem, 1.5rem);
        &,
        &::before,
        &::after {
            display: inline-block;
            width: 2rem;
            height: 2px;
            background-color: #333;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }

        &::before {
            top: -0.5rem;
        }
        &::after {
            top: 0.5rem;
        }
    }

    &__checkbox--label:hover &__hamburger::before {
        top: -0.6rem;
    }
    &__checkbox--label:hover &__hamburger::after {
        top: 0.6rem;
    }

    &__checkbox:checked + &__checkbox--label &__hamburger {
        background-color: transparent;
    }

    &__checkbox:checked + &__checkbox--label &__hamburger::before {
        top: 0;
        transform: rotate(-135deg);
    }

    &__checkbox:checked + &__checkbox--label &__hamburger::after {
        top: 0;
        transform: rotate(135deg);
    }

    &__navigation {
        position: fixed;
        z-index: 5000;
        top: 50%;
        left: 0;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: all 0.8s cubic-bezier(0.25, 0.1, 0.49, 1.57);
    }

    &__list {
        list-style: none;
    }

    &__item {
        font-weight: 100;
        margin: 0.6rem;

        span {
            margin-right: 1rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            font-size: 2 * $primary-fs;
            color: $color-white;
            padding: 0.7rem 1rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
            background-size: 220%;
            text-transform: uppercase;
            transition: all 0.5s;
            cursor: pointer;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary-dark;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__navigation {
        opacity: 1;
        left: 50%;
    }
}
