*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;

    @include responsive(tab-lan) {
        font-size: 85%;
    }
    @include responsive(tab-port) {
        font-size: 65%;
    }

    @include responsive(big) {
        font-size: 130%;
    }
}

body {
    padding: 1.25rem;

    @include responsive(tab-port) {
        padding: 0;
    }

    font-family: sans-serif;
    font-size: 1rem;
    color: $text-color-gray;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

a:link,
a:visited {
    display: inline-block;
    text-decoration: none;
}
