.heading-primary {
    color: $color-white;
    width: 100%;

    &--main {
        display: block;
        font-size: 3.75rem;
        letter-spacing: 2.1875rem;

        @include responsive(tab-port) {
            letter-spacing: 1.5rem;
        }
        @include responsive(phone) {
            letter-spacing: 1rem;
        }
        font-weight: 400;
        margin-bottom: 1.25rem;
        animation: left-to-right 0.65s ease-out;
    }

    &--sub {
        display: block;
        font-size: 1.25rem;
        letter-spacing: 1rem;

        @include responsive(tab-port) {
            letter-spacing: 1.5rem;
        }
        @include responsive(phone) {
            margin-top: 2rem;
            letter-spacing: 0.5rem;
        }

        font-weight: 300;
        margin-bottom: 4rem;

        animation: right-to-left 0.65s ease-out;
    }
}

.heading-secondary {
    font-size: 2.2 * $primary-fs;

    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    -webkit-background-clip: text;
    transition: all 0.2s;

    &:hover {
        transform: skewY(2deg);
        text-shadow: 0.3rem 0.6rem 0.75rem rgba(0, 0, 0, 0.2);
    }
}

.heading-tertiary {
    font-size: 0.9 * $primary-fs;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include responsive(tab-port) {
        font-size: 1.75 * $primary-fs;
        font-weight: 600;
    }
    @include responsive(phone) {
        font-size: 1.5 * $primary-fs;
        font-weight: 600;
    }
}

.heading-card {
    text-transform: uppercase;
    width: 75%;
    font-size: 2 * $primary-fs;
    color: $color-white;
    text-align: right;
    font-weight: 300;
    &__span {
        padding: 0.5rem 1rem;
        -webkit-box-decoration-break: c + lone;
        box-decoration-break: clone;
        height: 100%;
        &--1 {
            background-image: linear-gradient(
                to right,
                rgba($color-secondary-light, 0.8),
                rgba($color-secondary-dark, 0.8)
            );
        }
        &--2 {
            background-image: linear-gradient(
                to right,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)
            );
        }
        &--3 {
            background-image: linear-gradient(
                to right,
                rgba($color-tertiary-light, 0.8),
                rgba($color-tertiary-dark, 0.8)
            );
        }
    }
}

.paragraph {
    font-size: 0.95 * $primary-fs;
    line-height: 2rem;
    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    @include responsive(tab-port) {
        font-size: 1.7 * $primary-fs;
        line-height: 2.5rem;
    }
    @include responsive(phone) {
        font-size: 1.7 * $primary-fs;
    }
}
