.about-section {
    background-color: $bg-color-light;
    padding: 15rem 0;
    transform: translateY(-16vh);

    @include responsive(tab-lan) {
        padding: 20rem 0;
    }

    @include responsive(phone) {
        &__left {
            text-align: center;
        }
    }
}

.features-section {
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
        url("../img/nat-4.jpg");
    background-size: cover;
    padding: 12rem 0;
    position: relative;
    z-index: 2;
    text-align: center;
    transform: skewY(-5.5deg) translateY(-30vh);

    @include responsive(phone) {
        transform: skewY(-5.5deg) translateY(-18vh);
    }

    & > * {
        transform: skewY(5.5deg);
    }
}

.tours-section {
    background-color: $bg-color-light;
    padding: 8rem 0;
    transform: translateY(-41vh);
    @include responsive(phone) {
        transform: translateY(-21vh);
    }

    z-index: 20;
}

.stories-section {
    position: relative;
    padding: 8rem 0;
    margin-top: -41vh;

    @include responsive(phone) {
        margin-top: -25vh;
    }
}

.booking-section {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    width: 100%;
    padding: 5rem 7rem;

    @include responsive(phone) {
        padding: 0;
    }
}
